a {
  color: #444;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -ms-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;

  &:hover {
    color: #000;
  }
}

.text-orange {
  color: #f5951e;
}

.text-green {
  color: #8fc644;
}

.bg-orange {
  background-color: #f5951e;
}

.btn-orange {
  border-width: 0;

  &, &:focus {
    background-color: #f5951e;
  }

  &:hover {
    background-color: #ce7a13;
  }

  &:disabled {
    background-color: #735532;
  }
}

.btn-green {
  border-width: 0;

  &, &:focus {
    background-color: #8fc644;
  }

  &:hover {
    background-color: #669328;
  }

  &:disabled {
    background-color: #80af57;
  }
}
