a {
  color: #444;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -ms-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;

  &:hover {
    color: #000;
  }
}
